# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env.local

# superbase
NEXT_PUBLIC_SUPABASE_URL=https://bdwobpsfztguptijbncg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkd29icHNmenRndXB0aWpibmNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NTg2OTMsImV4cCI6MjA5MDIzNDY5M30.9F9_-lRd1-XetAlkLrS_ZBDE3Sc7pN-jhk7hPrK5g-U